 * {
   font-size: 16px;
 }
main {
  position: relative;
  display: flex;
  justify-content: center;
}

#logo {
  position: relative;
  top: 100px;
  display: block;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

#search-bar {
  position: relative;
  padding-left: 10px;
  color: gray;
  top: 100px;
  display: block;
  margin: 20px;
  width: 400px;
  height:35px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(175, 174, 174, 0.616) ;
  border-radius: 30px;
}

#search-bar:hover {
  box-shadow:  1px 1px 6px rgb(184, 183, 183);
}
#search-bar:click {
  box-shadow:  4px 4px 4px 4px rgb(184, 183, 183);
}

.search-btns {
  position: relative;
  top: 100px;
  /* left: 45%; */
  text-align: center;
  display: block;
  width: 200px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  
}
.search {
  padding: 10px;
  font-size: 10px;
  color: rgb(73, 71, 71);;
  border: none;
  border-radius: 4px;
  left: 50%;
  cursor: pointer;
}
.search:hover {
  border: 1px solid #C1C1C1;
}
nav {
  display: block;
  overflow: auto;
}

.left {
  float: left;
  font-family: sans-serif;
  font-size: 10px;
  padding: 10px;
}

.right {
  position: relative;
  float: right;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 10px;
}

div a {
  padding: 4px;
  text-decoration: none;
  color: rgb(73, 71, 71);
  top: 2px;
  left: 0px;

}
div a:hover {
  text-decoration: underline;
}

#blue-btn {
  background-color: #4484F1;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  border: none;
  border-radius: 2px;
  width: 50px;
}
#grid {
  height: 14px;
  width: 14px;
  color: rgb(73, 71, 71);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

footer {
  /* display: flex;
  flex-direction: row; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#F2F2F2;
  height: 40px;
  border: solid .5px rgba(197, 197, 197, 0.37)
}
footer a {
  font-size: 12px;
  color: gray;
}